<h1>Welcome to CSE Motors!</h1>
<div class="welcome-container">
    <img src="/images/vehicles/monster-truck.jpg" alt="A stylish car" />
    <section id="welcome-text">
        <h2>Featured Monster Truck</h2>
        <p>Experience the thrill of our latest monster truck model, designed for both power and style. Perfect for
            off-road adventures and making a statement wherever you go!</p>
        <a href="/vehicles/monster-truck" class="button">View Details</a>
    </section>
</div>

<div id="container">
    <div class="upgrades">
        <h2>Monster Truck Upgrades</h2>
        <section>
            <figure>
                <img src="/images/upgrades/flux-cap.png" alt="flux capacitor and upgrades">
                <figcaption>Engine Parts</figcaption>
            </figure>
            <figure>
                <img src="/images/upgrades/flame.jpg" alt="vehicle decals">
                <figcaption>Off-Road Decals</figcaption>
            </figure>
            <figure>
                <img src="/images/upgrades/bumper_sticker.jpg" alt="bumper stickers">
                <figcaption>Bumper Stickers</figcaption>
            </figure>
            <figure>
                <img src="/images/upgrades/hub-cap.jpg" alt="hub caps and rims">
                <figcaption>Rims</figcaption>
            </figure>
        </section>

    </div>
    <div class="reviews">
        <h2>Monster Truck Reviews</h2>
        <p>"I love my monster truck! It has great power and looks awesome!" - Jane Doe</p>
        <p>"The monster truck is perfect for off-road adventures. Highly recommend!" - John Smith</p>
    </div>
</div>

