<!-- views/inventory/add_classification.ejs -->
<% if (errors && errors.length) { %>
    <ul class="notice-acct">
        <% errors.forEach(error=> { %><li>
                <%= error.msg %>
            </li>
            <% }) %>
    </ul>
    <% } %>

        <h1>
            <%= title %>
        </h1>

        <form class="auth-form" action="/inv/add-classification" method="post">
            <div class="field">
                <label for="classification_name">Classification Name</label>
                <input type="text" id="classification_name" name="classification_name" autocomplete="off"
                    placeholder="Hybrid, Electric..." required
                    value="<%= typeof classification_name !== 'undefined' ? classification_name : '' %>">
            </div>
            <button class="btn" type="submit">Add Classification</button>
        </form>