<!DOCTYPE html>
<hmtl lang="en">
    <%- include('../partials/head.ejs') %>

        <body>
            <div id="wrapper">
                <main>
                    <% if (title) { %>
                        <h1>
                            <%= title %>
                        </h1>
                        <% } else { res.redirect('/') } %>

                            <%# messages() %>
                                <%- grid %>
                </main>
                <%- include('../partials/footer') %>
            </div>
            <script src="./js/script.js"></script>
        </body>
</hmtl>